.body
{background-color: #F5F5F5;}

#contenedor
      {background: white;
      border:solid;
      border-width: 1px;
      border-color: white;
      border-top-color: #ccc;
      border-bottom-color: #ccc;
      margin-top: 5px;
      margin-bottom: 5px;}

 
 #nav-link a
 {margin-top: 4px;
  margin-right: 4px;
 color:white;
 height: 100%;
 padding: 10px;
 }
 
 #link_logo
 {margin-right: 10px;
  width: 80px;
  height: 70px;
  border:solid;
  border-color: #20B2AA;
  border-width: 2px;}
 
 #link1
  {background-color: #20B2AA;
  border-color: #20B2AA}
 
  .carousel-inner img
  {height: 500px;
  padding: 20px;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  }
  
  
  
  
 #boton_volver
{float: right;
 margin-top: 2px;
 border: solid;
 background-color: #20B2AA;
border-color: #20B2AA;} 
  
#divisor1,#divisor2
      {background: white;
      border:solid;
      border-color: white;
      border-width: 1px;}
      
#divisor1
      {height: 40px;
      border-bottom-color:#ccc;}
      
#divisor1 a
      {float: right;
      padding: 8px;}
      
      
      
      #divisor2
      {margin-top: 5px;}
      
       p
      {font: inherit;}
      
      
      .sub_divisor 
      {border:1px solid #cdcdcd;
       padding:.7em;
       margin-bottom: 20px;
       background: white;
      border-left-color: white;
      border-right-color: white;}
		
      .sub_divisor h3 
      {  color:gray;}
      
      
      
        
      .carousel-caption h2,h3
      {font-family: gabriola}
      
      .carousel-caption h2
      {color: black;}
     
    #imgfondo
    {width: 30%;
     height: 18%;
     margin-left: 350px;
    padding: 10px;}
    
    #div_galeria img
    {border:solid;
     border-width: 1px;
     border-color: #ccc;
     margin-top: 20px;
     margin-left: 12px;
     margin-bottom: 10px;
     width:90%;
     height:45%;}
    
    #div_galeria h3
    {text-align: center;
     color: black;
     font-family: gabriola;}
    
    #row
    {border:solid;
     border-color: #cdcdcd;
     border-width: 1px;
     margin-left: 5px;
     margin-right: 5px;
     margin-top: -10px;}
    
    #div_galeria a
    {background-color: #20B2AA;
     border-color: #20B2AA;
     width: 85%;
     margin-left: 18px;
     margin-bottom: 10px;}
    
    #filtro fieldset
    {border:solid;
     border-width: 1px;
     border-color: #ccc;
     width: 120%;
     margin-left: -120px;
     padding: 10px;
     padding-bottom:4px;}
    
    #Mostrar
    {float:right; 
     margin-bottom: 10px;
     margin-right:10px;}
    
    #img_vehiculo
    {height: 150%;
      width: 300%;
    margin-bottom: 5px;
    margin-left: 25px;}
    
    
    
    #plan a
    {background-color: #20B2AA;
     border-color:  #20B2AA;
     width: 120px;
     margin-left: 430px;
    margin-top: 2px;}
    
    #marca_monto
    {width: 75%;
     margin-left: 100px;}
    
    #h1_marca, #h1_monto
    {text-align: center;
     font-family: serif;
     color: dimgray;}
    
    #h1_monto
    {padding-right: 80px;}
    
    #datos
    {padding: 10px;
     border:solid;
     border-color:white ;
     width: 75%;
     border-top-color: #F5F5F5;
     border-bottom-color: #F5F5F5;
     margin-top: -10px;
     border-width: 2px;
     margin-left: 100px;}
    
    #datos h5
    {text-align:center;
     font-family: serif;
     color: black;}
    
    #detalles_vehiculo h2
    {margin-left: 350px;
     margin-top: -60px;
     font-family: inherit;
    text-align: center;}
    
    #detalles_vehiculo h3,p
    {text-align: left; 
     font-family: inherit;}
    
    #detalles_vehiculo p
    {color: gray;}
    
    #div_comentario
    {background-color: #F5F5F5;
     border-width: 1px;
     margin-bottom: 10px;
     width: 75%;
     margin-left: 100px;
     margin-top: 10px;}
    
    #div_comentario p
    {text-align: center;
     font-family: serif; color:dimgray;
     padding: 10px;}
    
    #div_tabla
    { padding-top: 30px;
      border:solid;
      border-width: 1px;
      border-color: white;
      border-top-color: #ccc;
      border-bottom-color: #ccc;
      margin-top: 20px;
      margin-right: 10px;
      margin-bottom:20px;
      margin-left: 10px; }
    
    #tabla_plan
    {width: 100%;}
    
    #tabla_plan thead
    {color:gray;}
    
    #tabla_plan tr
    {font-family:inherit;
     text-align: center;}
    
    #h1_form
    {color: #21618C ;}
    
    #monto,#patente,#anio,#kilometros,#imagen,#color 
    {width: 300px;
    margin-top: -15px;
    margin-bottom: 10px;
    border:solid;
    border-color: #ccc;
    border-width: 1px;}
   
    imput #monto,#patente,#anio,#kilometros,#imagen,#color 
    {color: black;}
    
     #c1,#c2
    {width: 340px;height: 220px}
    
     #c2
    {float: right;
    margin-top: -220px;
    margin-left: -40px;}
    
    #c1
    {margin-top: -15px;}
    
    #c3{height: 150px;
        width: 270px;
        float: right;
        margin-right: 200px;}
    
    #c31
    {border:solid;
     border-width: 1px;
     border-color: #ccc;
     height: 100px;
     width: 120px;
     padding: 2px;}
    
    #c32
    {border:solid;
     height: 100px;
     padding: 2px;
     border-width: 1px;
     border-color: #ccc;
     width: 120px; float: right;
     margin-left: 5px;}
    
    #puertas,#cilindrada
    {margin-left: 12px;
     margin-top: -10px;}
    
    #anio,#modelo,#patente,#anio,#imagen,#monto,#kilometros[placeholder]
    {color:black;
     font-size: 0.8em;
    height: 30px;}
    
    
    #marca,#modelo
    {margin-top: -10px;
    margin-bottom: 20px;
    border:solid;
    border-width: 1px;
    border-color: #ccc;}
    
    #fieldset_form
    {padding: 10px;
    width:750px;
    border:solid;
    border-color: #ccc;
    border-width: 1px;
    margin-bottom: 5px;}
    
    #fieldset_form legend
    {color:#ccc;}
    
    #boton_sesion
    {margin-left: 410px;
     margin-top: -95px;
     border:solid;
     border-color: #20B2AA;
     background-color: #20B2AA}
    
    #error
    {width: 100%;
     height: 80%}
    
    #error p
    {color:red;
     font-size: 20px;
     margin-top: -25px;
    margin-left: 20px;}
    
      #pie 
      {clear:both;
       background-color:#5a5858;
       color:#ffffff; 
       text-align:center;
       padding-top:3em;
       padding-bottom:2em;
       font-size: .9em;}
		
      #pie a { color:#ffffff;}
      
                

                @media only screen and (max-width:960px)and (min-width: 801px)
                {#imgfondo{margin-left: 100px;}
                 
                 #detalles_vehiculo h2,h3,p{margin-left: 20px;
                 margin-top: 10px;}
                 #detalles_vehiculo h2{font-size: 24px;}
                 #img_vehiculo{ margin-left: 1px;}
                 #marca_monto{margin-left: 0px;
                  width: 100%;}
                 #h1_marca, #h1_monto{font-size: 24px;}
                 #datos{margin-left: 0px;
                 font-size: 18px;
                 width: 100%;}
                 #div_comentario{margin-left: 0px;
                 font-size: 12px;
                 width: 100%;}
                 #plan a{width: 80%;
                 margin-left: 28px;
                 margin-top: 30px;
                 margin-bottom: 5px;}
                 
                 #filtro
                 {width: 80%}
                #nav-link a{width: 70%;
                 text-align: left;}
                 .carousel-inner img
                {height: 400px;}
                 #boton_sesion{margin-left: 0px;
                 float: right;
                 margin-top: 10px;
                 margin-bottom: 5px;}
                  #error p{font-size: 18px;
                 margin-top: -20px;}
                }


                @media only screen and (max-width:800px)and (min-width: 401px)
                {.container{width: 100%}
                #imgfondo{margin-left: 150px;}
                 .carousel-caption h2{font-size: 24px;}
                 
                 #detalles_vehiculo h2,h3,p{margin-left: 20px;
                 margin-top: 10px;}
                 #detalles_vehiculo h2{font-size: 24px;}
                 #img_vehiculo{ margin-left: 1px;}
                 #marca_monto{margin-left: 0px;
                  width: 100%;}
                 #h1_marca, #h1_monto{font-size: 24px;}
                 #datos{margin-left: 0px;
                 font-size: 18px;
                 width: 100%;}
                 #div_comentario{margin-left: 0px;
                 font-size: 12px;
                 width: 100%;}
                 #plan a{width: 80%;
                 margin-left: 28px;
                 margin-top: 30px;
                 margin-bottom: 5px;}
                 
                 #titulo{font-size: 20px;}
                 #filtro{display: none;}
                 #detalle_filtro{display: none;}
                 #nav-link a{width: 70%;
                 text-align: left;}
                 .carousel-inner img
                 {height: 300px;
                 padding: 0px;}
                 #error p{font-size: 18px;
                 margin-top: -20px;
                 }
                 #boton_sesion{margin-left: 0px;
                 float: right;
                 margin-top: 10px;
                 margin-bottom: 5px;}
  
                }
              
               @media only screen and (max-width:400px)and (min-width: 200px)
               {.container{width: 100%;}
               #imgfondo{margin-left: 30px;}
               .carousel-caption h2{font-size: 12px;}
                 #titulo{font-size: 10px;}
                 #filtro{display: none;}
                 #row{margin-top: 5px;}
                 #detalle_filtro{display: none;}
                 #detalles_vehiculo h2,h3,p{margin-left: 20px;
                 margin-top: 10px;}
                 #detalles_vehiculo h2{font-size: 24px;}
                 #img_vehiculo{ margin-left: 1px;}
                 #marca_monto{margin-left: 0px;
                  width: 100%;}
                 #h1_marca, #h1_monto{font-size: 24px;}
                 #datos{margin-left: 0px;
                 font-size: 18px;
                 width: 100%;}
                 #div_comentario{margin-left: 0px;
                 font-size: 12px;
                 width: 100%;}
                 #plan a{width: 80%;
                 margin-left: 28px;
                 margin-top: 30px;
                 margin-bottom: 5px;}
                 #nav-link a{width: 70%;
                 text-align: left;}
                 .carousel-inner img
                 {height: 150px;
                 padding: 0px;}
                 #boton_sesion{margin-left: 0px;
                 float: right;
                 margin-top: 10px;
                 margin-bottom: 5px;}
                
                 #error p{font-size: 12px;
                 margin-top: -20px;
                 }
  
               }
               
